
#game {
  display: none;
}

.case, .header {
  float: left;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 0px;
  text-align: center;
}

.header {
  border-color: white;
}

#board {
  float:left;
  left: 50%;
}


.block {
  float: left;
  margin: 1px;
  text-align: center;
}

.auteur {
  display: block;
  clear: both;
}

#across, #topdown {
  border: 1px solid black;
  overflow: auto;
  height: 100%;
  padding-left: 10px;
  width: 300px;
  text-align: left;
}

.semiselect {
  background-color: lightgrey;
}

.wrong {
  background-color: red;
}

.cheat {
  background-color: blue;
}

.stroke {
  text-decoration: line-through;
}

.selected {
  background-color: yellow;
}

div.black {
  background-color: black;
}

span.content {
  position: relative;
  top: 10%;
}

.reset {
  clear: both;
  display: block;
}

#solve {
  margin: 20px 0px 0px 40px;
}
